
  .apearFromLeft{
    animation: 0.5s apearFromLeft linear forwards;

  }
  .apearFromRight{
    animation: 0.5s apearFromRight ease-in-out forwards;

  }
  .fadeOut{
    animation:0.5s fadeOut forwards ;
  }
  .deleted {
    animation: shrinkOut 0.5s forwards; 
  }
  
  @keyframes shrinkOut {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0);
      opacity: 0;
    }
  }
  

  @keyframes apearFromLeft {
    from {
        opacity: 0;
        transform: translateX(-20%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
  @keyframes apearFromRight {
    from {
        opacity: 0;
      transform: translateX(20%);
      display: none;
    }
    to {
        opacity: 1;
      transform: translateX(0);
      display: block;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(20px , 0) ;
    }
    to {
      opacity: 0;
      transform: translate(0 , 20px);
    }
  }

  .details-sheet {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  .details-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .details-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .details-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .details-label {
    font-weight: bold;
    color: #555;
  }
  
  .details-value {
    color: #777;
  }
  